{% extends "MineUserBundle:Resetting:request.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block message %}
    <div class="alert alert-warning">
        {{ 'resetting.password_already_requested'|trans }}
    </div>
{% endblock %}