{% extends "::base.html.twig" %}

{% block content %}
    <article>
        <h2 class="title">New website!!!</h2>
        <p>
            From now on, in game registration is disabled. All new user must register a new account here. Current user must re-register
            a new account, all in game data is preserved except last login location (you will be sent back to spawn point). However, you can contact admin
            after create a new account here and ask for teleporting you back to your last location.
        </p>
        <p>
            New crash detection system is installed, hopefully it will work.
        </p>

        <h4>TODO list:</h4>
        <ul>
            <li>A customized client that provides the same minecraft experience for all users (guns,new items)</li>
            <li>Extend website functionality</li>
        </ul>
   </article>
{% endblock content %}